<!doctype html>
<html>
  <head>
    <title>Bargain books - <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <h2>Here are some great bargains under £20:</h2>
    <ul>
      <% for(let i=0; i < availableBooks.length; i++) { %>
          <li><span><%=availableBooks[i].name%></span>, £<%=availableBooks[i].price%></li>
      <% } %>
    </ul>
  </body>
</html>
